.SliderRange__suffix {
  min-width: 32px;
  border: 1px solid gray;
  border-radius: 4px 8px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SliderRange__value {
  margin-right: 8px;
}
